body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;

}
.top{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.bottom{
    display: flex;
    flex-direction: row;
}
img{
    width: 150px;
}
body > div > div{
    border: 1px solid black;
    border-radius: 8%;
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 5px;
}
body > div > div:hover{
    flex-grow: .2;
}